<footer class="footer bg-dark py-2 mt-auto border-top border-start border-end border-light rounded-top sticky-bottom">
    <div class="container mx-1">
        <span class="text-secondary">&copy; Taffoureau Raphaël 2023</span>
    </div>
</footer>